{
  "env": {
    "browser": true,
    "es2021": true,
    "react-native/react-native": true
  },
  "extends": [
    "plugin:react/recommended",
    "google"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "react-native"
  ],
  "rules": {
    "max-len": "off",
    "require-jsdoc": "off",
    "react/prop-types": "off",
    "arrow-parens": "off",
    "indent": "off"
  }
}
